@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Kanit:ital,wght@1,300&family=Smooch+Sans&display=swap');

* {

    padding: 0;
    box-sizing: border-box;


}
body{
    background-color: #a0a0a0;
    margin: 0;
    padding: 0;

}
/******************************************************************************/
/*Fontes, LETRAS*/
h1 {
    text-align: center;
}



/****************************************************************************/
/*Layout*/

/*header, nav, main, section, footer {
    background-color: indianred;
    display: flex;
    margin: 3px;
}*/
header {
background-color: #a0a0a0;
text-align: center;

}
nav {
    background-color: black;
    flex-direction: row;
    font-family: 'Exo 2', sans-serif;
    font:bold

}
.img {
    text-align: center;

}

main {
background-color: #a0a0a0;
padding: 8px;

}

section {
 padding: 10px;
 background-color: #a0a0a0;

}

footer {
    padding: 25px;
 background-color: black;


}
/*
.zero {
 background-color: rgb(255, 123, 0);

}
.one {
 background-color: chartreuse;

}

.two {
 background-color: brown;


}

.three {
 background-color: darksalmon;


}
*/
article {
   background-color: #F2EFDF;
   padding: 20px;

}

/*************************************************************************/
/*Codigo do menu*/
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;

}
.nav ul li{
    display: inline;
    position: relative;
    
}
.nav ul li a{
    color: #a0a0a0;
    padding: 20px;
    margin: 0;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;

}
.nav ul li a:hover {
    background-color: #a0a0a0 ;
    color: black; 
    font-weight: bold;
}
/* Parte da lista anidada*/

.nav ul ul {
    display: none;
    left: 0;
    position: absolute;
    width: 150px;

   
}
.nav ul li:hover ul {
    display: block;

}


.nav ul ul li a {
    display: block;

}